<div class="container" id="main">
    <div class="row">
        <div class="span8 offset2">
            <div class="panel">
                <div class="full grid">
                    <h3>People</h3>
                    <div class="new">
                        
                    </div>
                    <div id="people">
                        <%= render :partial => "people" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
