<div class="container" id="main">
    <div class="row">
        <div class="span8 offset2">
            <div class="panel">
                <div class="full grid">
                    <h3>Sweepstakes Entries</h3>
                    <table class="table table-hover table-bordered" id="entries" >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email Address</th>
                          <th>Date/Time</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
